# --- AWS CONFIG ---
REGION_NAME=us-east-1
AWS_ACCESS_KEY_ID = xxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY = xxxxxxxxxxxxxxxxxxxxxx
S3_BUCKET_NAME=your-rag-project-storage
COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
COGNITO_APP_CLIENT_ID=xxxxxxxxxxxxxxxxx

# --- DATABASE (UPSTASH & Neo4j) ---
UPSTASH_VECTOR_REST_URL=https://your-index-name.upstash.io
UPSTASH_VECTOR_REST_TOKEN=ABxy...

NEO4J_URI=neo4j+s://xxxxxxxxx.databases.neo4j.io
NEO4J_USERNAME=xxxxxxxxxxxxx
NEO4J_PASSWORD=xxxx
NEO4J_DATABASE=xxxxx
AURA_INSTANCEID=xxxxxxxxxxx
AURA_INSTANCENAME=xxxxx

# --- AI MODEL (GEMINI) ---
GOOGLE_API_KEY=AIzaSy...
